/*
Fonts:
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
*/

#wrapper {
  width: 100%;
  margin: 10px auto;
}

header {
  border-bottom: 2px black solid;
  width: inherit;
  font-size: 8.2vw;
  height: auto;
  margin-bottom: 5em;
  margin-top: -30px;
}

header>h1#header {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: -10px;
}

@media (min-width: 900px) {
  #wrapper {
    width: 65%;
  }

  header {
    width: 100%;
  }

  header>h1#header {
    font-size: 4em;
    background-color: red;
  }
}
